## PythonBasic

### .Various Datatypes in Python
### .Variable & Variable Assignment
### .Print Formating
### .Few In-built Functions

## Learning  DataTypes

In [1]:
1+1

2

In [2]:
5*6

30

In [3]:
10/2

5.0

In [4]:
10%2

0

In [5]:
10**2

100

In [6]:
10*'str'

'strstrstrstrstrstrstrstrstrstr'

In [7]:
##Chceking Datatypes
type(10)

int

In [8]:
type('Hello')

str

In [11]:
type(True)

bool



### Strings

In [16]:
##Strings can be mentioned in both single or double quotes

'Hello'

'Hello'

In [13]:
"Hello world"

'Hello world'

In [14]:
type('Hello')

str

In [15]:
type("Hello world")

str

### Variable Assignment

In [17]:
##Syntax
#var_name=value

a=10

In [18]:
type(a)

int

In [19]:
a='shantanu'

In [20]:
type(a)

str

In [21]:
## Mathematical Operations with variable Assignment

a=10
b=20

## Printing

In [25]:
print(a+b)
print(a*b)
print(b/a)
print((a+b)+(b-a))

30
200
2.0
40

In [27]:
## Various ways of printing

print('Hello')

Hello

In [28]:
first_name='shantanu'
last_name='Jadhav'

In [32]:
print("my first name is {} and last name is {}".format(first_name,last_name))

my first name is shantanu and last name is Jadhav

In [33]:
print("my first name is {first} and last name is {last}".format(first=first_name,last=last_name))

my first name is shantanu and last name is Jadhav

## Some Inbuilt functions

In [34]:
len('shantanu')

8

In [35]:
type(1.0)

float

In [42]:
type(['1',2,3,4,'shan'])

list

In [1]:
#creating List
a=[]

In [2]:
type(a)

list

In [3]:
b=list()

In [4]:
type(b)

list