## Python Datastructures and Boolean
### .Boolean and Logical Operators
### .Lists
### .comparision Operators



## Boolean Variables

In [2]:
type(True)

bool

In [3]:
type(False)

bool

In [5]:
#Trying out different inbuilt  string functions over a string called my_str

my_str='Shantanu123'

In [6]:
type(my_str)

str

In [18]:
print(my_str.isalnum())#checks if the string is alphanumeric-contains both alphabet and numbers
print(my_str.islower())
print(my_str.istitle())# Since it begins with capital letter S
print(my_str.isnumeric())
print(my_str.startswith('S'))
print(my_str.endswith('3'))
print(my_str.isprintable())
print(my_str.isdigit())

True
False
True
False
True
True
True
False

## Boolean & Logical Operators

#Few common logical gate operators are mentioned below with their outputs

In [19]:
True and True

True

In [20]:
True and False

False

In [21]:
True or True

True

In [22]:
True or False

True

In [23]:
my_string='shantanu'

In [24]:
my_string1='shanty'

In [30]:
my_string.isalpha() or my_string1.istitle() # True if any one value is True

True

## Lists 

#a  datastructure containing collection of different elements

In [31]:
type([1,4,'str'])

list

In [32]:
#Creating Empty List
Empty_List=[]

In [33]:
type(Empty_List)

list

In [6]:
#Using an inbuilt function list to create a alist

sample_list=list()

In [7]:
type(sample_list)

list

In [8]:
#Putting value inside a list
sample_list=[1,2,3,4,'shanty']

In [9]:
print(sample_list)

[1, 2, 3, 4, 'shanty']

In [10]:
len(sample_list)

5

### few more Inbuilt Functions

#### list,len,append,insert

In [13]:
sample_list.append('jadhav')

In [14]:
sample_list

[1, 2, 3, 4, 'shanty', 'jadhav']

#### appending nested insert

In [21]:
sample_list.append(['shankar',8])

In [22]:
sample_list

[1, 2, 3, 4, 'shanty', 'jadhav', ['shankar', 8]]

#### Indexing in a list (indexes start with 0 for the first value)

In [18]:
sample_list[4] # Selects 5 th element from the list

'shanty'

In [19]:
sample_list[1:]# selects all the elements from the 2nd element in a list

[2, 3, 4, 'shanty', 'jadhav']

In [20]:
sample_list[2:6]

[3, 4, 'shanty', 'jadhav']

#### appending puts values inside the list at the last, however to append values inside a list in a specific order we use Insert

In [24]:
sample_list.insert(3,'shama')

In [25]:
sample_list

[1, 2, 3, 'shama', 4, 'shanty', 'jadhav', ['shankar', 8]]

#### Extend Function

In [26]:
sample_list.extend(['shirish',34]) #Like appen it does not simply adds nested list infact it adds individual elements to list

In [27]:
sample_list

[1, 2, 3, 'shama', 4, 'shanty', 'jadhav', ['shankar', 8], 'shirish', 34]

#### Various Operations on list

In [28]:
NewList=[2,3,4,5]

In [29]:
sum(NewList) # SUM Function

14

In [30]:
NewList.pop() # Pop function-Removes last element from the list

5

In [31]:
NewList

[2, 3, 4]

In [32]:
NewList.pop(1) #Removes 2nd element from the list

3

In [33]:
UpdatedList=[4,5,6,7,8,5,4,8,1]

In [34]:
UpdatedList.count(8)

2

In [35]:
UpdatedList.index(4) #Index function-Rferes to the index no of the element 4 in a list

0

In [38]:
UpdatedList.index(4,1) # provides next index no of the element 4 in the same list

6

In [39]:
min(UpdatedList) # Min Function

1

In [40]:
max(UpdatedList) # Max Function

8

In [41]:
UpdatedList*2 # Whole list gets appended again

[4, 5, 6, 7, 8, 5, 4, 8, 1, 4, 5, 6, 7, 8, 5, 4, 8, 1]